.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: tomato;
  min-height: 100vh;
}

thead,
header p,
main p {
  font-size: 30px;
  color: azure;
}

table {
  margin: 100px;
}

thead:after {
  content: "";
  display: block;
  height: 1.5em;
  background: tomato;
}
